<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <style>
            .final {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <img class=final src="{{src}}"/>
    </body>
</html>