<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <style>
            h2 {
                font-size: 8vw;
                width: 100%;
            }
            p {
                font-size: 5vw;
                width: 100%;
            }
            img {
                width: 70%;
            }
        </style>
    </head>
    <body>
        <a href="{{homelink}}"><p>
            {{ msg }}
            <br/>
            Back to home</p></a>
    </body>
</html>