<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <style>
            h2 {
                font-size: 8vw;
                width: 100%;
            }
            p {
                font-size: 5vw;
                width: 100%;
            }
            img {
                width: 70%;
            }
        </style>
    </head>
    <body>
        <h2>{{ title }}</h2>
        <p>{{ linksrcs|length }} results</p>
        {% for link, src in linksrcs %}
            <a href="{{ link }}">
                <img src="{{ src }}">
            </a>
            <br/>
        {% endfor %}
        <a href="{{gobacklink}}"><p>GO BACK</p></a>
    </body>
</html>