<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <style>
            .warningp {
                font-size: 4vw;
                width: 100%;
                color: #b11f1f;
            }
        </style>
    </head>
    <body>
        <p class=warningp>
            {% for msg in msgs %}
                {{msg}}
                <br/>
            {% endfor %}
        </p>
    </body>
</html>