<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="{{  url_for('static', filename='wait.js') }}"></script>
    </head>
    <body>
        Please wait...
    </body>
</html>